{{ define "main" }}
<!-- {{ partial "header" . }} -->
<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-10">
                <!-- <div class="mx-0 mx-md-4 posts"> -->
                <div class="title-page-wrapper">
                    <div class="title-page">
                        {{ partial "lambda" . }}
                        <div class="title-page-name">
                            <h1>Louis Meunier</h1>
                            <p>Math major @ McGill University
                                <!-- <br><br> -->
                                <!-- Currently learning functional analysis (MATH455), Galois theory (MATH457), dynamical systems (MATH574) and mathematical statistics (MATH357). -->
                            </p>

                            <div class="title-nav">
                                {{ range .Site.Menus.primary.ByWeight }}
                                    {{ if ne .Name "Home"}}
                                            <a class="nav-link" href="{{ .URL }}">
                                                {{ .Name }}
                                            </a>
                                            {{if ne .Name "About"}} 
                                            <span>&#183;</span>
                                            <!-- <span>/</span> -->
                                            {{ end }}
                                    {{ end }}
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    <!-- <p>Contact: louismeunier123 (at) gmail (\dot) com</p> -->
                <!-- {{ partial "footer" . }} -->
                </div> 
            </div>
        </div>
    </div>
</div>
<style>
    /* index.html */
    .title-page-wrapper {
        height: 90vh;
        width: 100%;
        display: grid;
        place-items: center;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; */
    }

    .title-page {
        /* flex: 1; */
        height: 100%;
        width: 66%;
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        align-items: center;
        justify-items: center;
    }

    @media screen and (max-width: 768px) {
        .title-page {
            width: 100%;
            grid-template-columns: 1fr;
            /* grid-template-rows: 1fr 1fr; */
            grid-template-rows: auto auto;
            gap: 5em;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
        .title-page-name {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
        .title-nav {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-content: center;
        }
    }
        
    .title-page-name {
        display: flex;
        flex-direction: column;
    }

    .title-page-name h1 {
        font-size: 2em;
        /* margin-bottom: 0; */
    }

    .title-nav {
        margin-left: 0;
        display: flex;
        flex-direction: row;
        align-items: left;
        flex-wrap: wrap;
        height: min-content;
        padding: 0;
        column-gap: 0.5em;
        row-gap: 0.5em;
    }

    .title-nav > a {
        padding: 0;
    }

    .title-page svg {
        /* border: 2px solid black; */
        /* height: 50%!important; */
        /* width: 50%!important; */
        transition: 0.3s ease-in-out;
        /* box-shadow: #333 0px 0px 10px; */
    }

    .title-page svg {
        filter: drop-shadow( 3px 3px 1px #333);
    }

    .title-page svg:hover {
        /* scale up */
        transform: scale(1.15);
        filter: drop-shadow( 6px 6px 1px #333);
    }

    .about-paragraph {
        margin-bottom: 3em;
        font-size: 1.4em;
    }

    .svg-container > svg {
        background: transparent !important;
        border: 2px solid black;
        border-radius: 5px;
    }

    .svg-container {
        width: auto!important;
    }

    .title-page-name p {
        font-size: 0.8em;
        /* font-style: italic; */
    }
</style>
{{ end }}