{{ define "main" }}
<!-- {{ partial "header" . }} -->

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-10">
                <!-- <div class="mx-0 mx-md-4 posts"> -->
                <div class="title-page-wrapper">
                    <div class="title-page">
                        {{ partial "lambda" . }}
                        <div class="title-page-name">
                            <h1>louis meunier</h1>
                            <p>math major @ McGill University</p>
                            <div class="title-nav">
                                {{ range .Site.Menus.primary.ByWeight }}
                                    {{ if ne .Name "Home"}}
                                        <a class="nav-link" href="{{ .URL }}">
                                            {{ .Name }}
                                        </a>
                                    {{ end }}
                                {{ end }}
                            </div>
                        </div>
                    </div>
                <!-- {{ partial "footer" . }} -->
                </div> 
            </div>
        </div>
    </div>
</div>

{{ end }}