{{ define "main" }}
{{ partial "header" . }}

<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 col-lg-8">
                <div class="mx-0 mx-md-4 posts">
                    <div class="image-wrapper title-page">
                        <img src="/images/head.png" alt="hero-image">
                    </div>
                    <p class="about-paragraph">
                    > I'm a first year Mathematics student at McGill University. This site is meant to be a place to host my projects, interests, and general hobbies.
                    </p>
                    <!-- <h1 class="mx-0 blog-post-title text-bold">projects</h1> -->
                    {{ range sort .Pages  }}
                        {{ partial "list" . }}
                    {{ end }}
                </div>

            </div>
        </div>
    </div>
</div>

{{ partial "footer" . }}
{{ end }}