{{ $json := .Get "json" }}
{{ $height := .Get "height" | default "200px" }}
<div style="display: grid; place-items: center; width:100%!important;">
    <div id="{{$json}}" class="plotly"></div>
</div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    Plotly.d3.json({{$json}}, function(err, fig) {
        Plotly.plot('{{$json}}', fig.data, fig.layout, {responsive: true});
    });
</script>
<style>
   
.main-svg {
    width:100%!important;
    height: 100%!important;
}

.plotly {
    width: 100%;
}
.svg-container > svg {
    background: transparent !important;
    border: 2px solid black;
    border-radius: 5px;
}

.svg-container {
    width: auto!important;
}
.main-svg {
    width:100%!important;
    height: 100%!important;
}

#scene {
    height: 100%!important;
    width: auto!important;
    top: 0!important;
    bottom: 0!important;
    left: 0!important;
    right: 0!important;
}

</style>